<nav class="navbar navbar-expand-lg navbar-light my-4 px-2 font-weight-bold">
    <a class="navbar-brand mr-5" href="#"><h4 class="mb-0"><%- title %></h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <!-- dropdown menu-->
        <li class="nav-item dropdown" id="sub-menu-dropdown">
          <a class="nav-link dropdown-toggle pl-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Courses
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Chapter Assignment 2</a>
            <a class="dropdown-item" href="#">Chapter Assignment 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Final Assignment</a>
          </div>
        </li>
        <!--  -->
        <li class="sub-menu-add" id="sub-menu-add-admin">
          <a class="nav-link text-dark d-flex" id="sub-menu-add-admin" href="#" data-toggle="modal" data-target="#ModalLong">
            <span class="material-icons mr-2">
              add
            </span>
            Add New Admin
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      
      <ul class="navbar-nav">
      <% for (i = 0; i < sub.menu.length; i++) {%>
        <li class="nav-item">
          <a class="nav-link text-dark d-flex" href="<%- sub.menu[i].link %>">
            <span class="material-icons mr-2">
              <%- sub.menu[i].icon %>
            </span>
          </a>
        </li>
      <% } %>
      </ul>
       
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
</nav>